/*GLOBAL STYLES*/

/*
Primary color; goldenrod DDA520
Secondary color; forest green 228B22
Third color;
*/
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Lobster', cursive; Verdana, Geneva, sans-serif;

}

h1, h2, h3{
  margin: 0px;

}

a{
  text-decoration: none;
  color: #333333
}

ul{
  list-style-type: none;
}

/*HEADER STYLES*/

header{
  height:120px;
  background-color: #daa520;
}

#logo{
  width: 300px;
  position: absolute;
  top: 35px;
  left: 100px;
}
#logo h1:hover{
  color: #00ff00;
}

#menu{
  position: absolute;
  top: 35px;
  right: 100px;
}

#menu ul{
  display: inline-block;
}
#menu li{
  display: block;
  float: left;
}

#menu li::after{
  content: " | ";
  padding: 0 10px;
}
#menu a:hover{
  color: #00ff00;

}

/*BANNER STYLES*/

#banner-home{
  height: 250px;
  background-color: #dddddd;
  background-size: cover;
  background:url(../img/spacebanner.jpg)bottom;
}

#banner-home{
  text-align: center;
  padding: 90px 0px;
}
/*Blog Styples*/
.container{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;


}
.blog-1, .blog-2 {
  width: 384px;
  float: left;
  margin-right: 24px:

}
.blog-3{
  width:384px;
  float: left;
}

.blog-image {
  height: 285px;
  width: 380px;
  margin: 0px 2px;
}

#blog h2{
  text-align: center;
  margin: 10px 0px;
  font-size: 2em;
}

#blog a{
  text-align: justify;
}

#about h1{
  font-size: 3em;
  text-align: center;
}

}
figure(
  margin: 0px;
  padding: 0px;
  )

#about{
  border: 2px dotted #333;
  padding: 10px;
  border-radius: 4px;
}

.about-image {
  height: 300px;
  width: 300px;
  float:left;

}
.alignleft {
    margin-right: 24px;
    margin-top: 10px;
    float: left;
    width: 304px;

}

footer{
  margin-top: 20px;
  clear:both;

}
#copyright{
  padding: 30px 8px;
  background-color: #ald072;
  display:block;
  color: #7272d0;

}

#copyright p{
  text-align: center;
  font-size: 1.5em;
}
.social{
  text-align: center;
}
.fa{
  height:28px;
  width: 28px;
  background-color: #7272d0;
  color: #fff;
  padding: 10px;
  text-align: center;
  border; 3px solid #fff;
  border-radius: 100%;
  margin: 15px;
  font-size: 28px !important;

}
/* About Page styles */
#about-page{
  padding: 10px;
  border-radius: 4px;
}
#about-page article{
  width: 600px;
  float: left;
  padding: 10px;

}
#about-page h1{
  text-align: center;
  font-size: 3em;

}

#about-page p{
  line-height: 1.2em;
  text-align: justify;
}
#about-page li{

}
.align-right {
    margin-right: 24px;
    margin-top: 10px;
    float: right;
    width: 304px;

#video{
  width: 98%
  position: relative;
  padding-bottom: 56%
  padding-top: 30px;
  height: 0px;

}

.video-container{
  width 98%
}

#video iframe(
  position: absolute
  )
.button{
  padding: 15px 35px;
  background-color: #999999;
  border: 2px solid #333333;
  border-radius: 8px;
  display: inline-block;
  font-size: 2em;
  font-weight: 700;
  color: #333;
  margin: 10px 0px;
}

.button:hover{
  background-color: #333;
  color: #999999;
}
